In [7]:
from bs4 import BeautifulSoup as bs
import os
import requests
from splinter import Browser
import pandas as pd

In [3]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [4]:
titles = soup.find_all('div', class_= "slide")

In [77]:
#containing headlines in lists
headlines = []
teasers = []

for result in titles:
    try:
        title = result.find('div', class_="content_title").text
        teaser = result.find("div", class_="rollover_description_inner").text

        if (title and teaser):
            print('-------------')
            print(title)
            print(teaser)
            print('-------------')
            headlines.append(title)
            teasers.append(teaser)
    except AttributeError as e:
        print(e)

-------------


NASA's Perseverance Rover Begins Its First Science Campaign on Mars



The six-wheeled scientist is heading south to explore Jezero Crater’s lakebed in search of signs of ancient microbial life.

-------------
-------------


NASA's Ingenuity Mars Helicopter Completes First One-Way Trip



The Red Planet rotorcraft headed south in support of furthering research into the potential use of aerial scouts on Mars in the future.

-------------
-------------


NASA's Ingenuity Helicopter to Begin New Demonstration Phase



The Red Planet rotorcraft will shift focus from proving flight is possible on Mars to demonstrating flight operations that future aerial craft could utilize.

-------------
-------------


NASA to Attempt First Controlled Flight on Mars As Soon As Monday



A livestream will begin at 3:15 a.m. PDT that morning as the helicopter team prepares to receive the data downlink at NASA’s Jet Propulsion Laboratory.

-------------
-------------


NASA Ingenuity Mars Helicopter Prepares for First Flight



Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.

-------------
-------------


NASA's Perseverance Drives on Mars' Terrain for First Time



The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.

-------------

In [5]:
#locate image
browser = Browser('chrome', headless=False)
url2 = "https://www.jpl.nasa.gov/images/supercams-mars-meteorite-aboard-the-iss"
browser.visit(url2)

In [11]:
# use pandas for table creation
url2= 'https://space-facts.com/mars/'
table = pd.read_html(url2)

table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [42]:
factsTable = table[0]
factsTable_df = pd.DataFrame(factsTable)
factsTable_df = factsTable_df.rename({0:"Describe" , 1:"Mars"}, axis =1)

factsTable_df

               Describe                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [44]:
factsTableHtml = factsTable_df.to_html()
#factsTableHtml = factsTableHtml.replace('\n', ' ')
factsTableHtml

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Describe</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [45]:
url3 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url3)
html=browser.html
soup = bs(html, "html.parser")

In [48]:
# Setting up bucket
hemisImages = []

# Base image url
url4 = "https://astrogeology.usgs.gov/"

# Set up soup
hemis = soup.find_all('div', class_='item')

# Setting up loop to get title and url
for hemi in hemis:
    title = hemi.find('h3').text
    
    browser.click_link_by_partial_text("Hemisphere Enhanced")
    img_html = browser.html
    img_soup = bs(img_html, "html.parser")
    imgsUrl = img_soup.find('img', class_='wide-image')['src']
    
    images_url = url4+imgsUrl
    hemisImages.append({"title": title, "img_url": images_url})
    
# Display final dictionary
hemisImages

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]